#sideNav {
  background-color: #252525;
  .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }

  .navbar-toggler {
    &:focus {
      outline-color: #007bff;
    }
  }
}

@media (min-width: 768px) {
  #sideNav {
    box-shadow: 10px 0px 10px #aaa;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 50px;

    display: flex;
    flex-direction: column;

    width: 17rem;
    height: 100vh;

    .nav-link {
      color: #007bff;
      &:hover {
        cursor: pointer;
        color: white;
        font-weight: 800;
      }
    }

    .navbar-brand {
      display: flex;

      margin: auto auto 0;
      padding: 0.5rem;

      .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid #007bff;
      }
    }

    .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;

      width: 100%;
      margin-bottom: auto;

      .navbar-nav {
        flex-direction: column;

        width: 100%;

        .nav-item {
          display: block;

          .nav-link {
            display: block;
          }
        }
      }
    }
  }
}

@media (min-width: 100px) and (max-width: 767px) {
  #sideNav {
    font-size: x-small;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    position: fixed;

    height: auto;

    .nav-link {
      color: #007bff;
    }

    .navbar-brand {
      display: flex;

      margin: auto auto 0;
      padding: 0.5rem;
    }

    .navbar-collapse {
      display: flex;

      flex-grow: 0;

      width: 100%;
      margin-bottom: auto;

      .navbar-nav {
        display: flex;
        flex-flow: wrap;
        width: 100%;

        .nav-link {
          display: block;
          padding: 10px;
          &:active {
            background-color: #007bff;
            color: #252525;
          }
        }
      }
    }
  }
}
